@import "./variables.scss";

.v-spiner {
  .v-loader {
    border-radius: 50%;
    animation: spin 1s linear infinite;
    border: 8px solid $color-main-two; // задний цвет
    border-top: 8px solid $color-main-one;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
