// основные цвета
$color-white: #fff;
$color-main-one: #34495e;
$color-main-two: #41b883;
// градации основного цвета (чем больше цифра, тем темнее): $color-main-two
$color-main-two-light-1: #ebf8f3;
$color-main-two-light-2: #e4f5ef;
$color-main-two-light-3: #c8ebdf;
$color-main-two-light-4: #70cca2;
$color-main-two-light-5: #3daa79;
